:host {
  .caller-form {
    display: flex;
    justify-content: space-between;

    button {
      width: 31.25%;
    }
  }

  p {
    margin: 0.55rem;
  }

  a:hover {
    color: blue;
    cursor: pointer;
  }
}
